@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
.layout
{
  display:grid;
  grid-template-areas: 'head head head'
  'content content content'
  'foot foot foot';
grid-template-rows: 5rem 1fr 4rem;
height:100vh;
width:100vw;
}
