@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
$main-color:rgb(97, 226, 129);
header
{
  grid-area: head;
background-color: $main-color;

font-size: 2rem;
font-weight: 600;
display: flex;
align-items: center;
justify-content: flex-start;
padding-left: 5rem;
font-family: 'Roboto';
}
