
$main-color:rgb(97, 226, 129);
.products_section
{
    background-color: rgb(220, 241, 229);

 width:70%;
 height:100%;
 display:grid;
 grid-template-columns: repeat(4,minmax(200px,1fr));
 gap:1rem;
grid-auto-rows: minmax(400px,80%) ;
padding:1rem;
padding-top: 4rem;
overflow-y: auto;
 .cart{
    padding:.3rem;
     display: flex;
     flex-direction: column;
     background-color: rgb(243, 243, 243);
    border-radius: 7px;
     align-items: center;
        gap:2rem;
     img{
         width:100%;
         filter: blur(.8px);
         transition: all .6s ease .1s;
         &:hover{
            transform: rotate(5deg);
            border-radius: 50%;
            filter: blur(0);
         }
     }
     .product_info{
         width:90%;
         display: flex;
         justify-content: space-between;
         padding:.1rem;
         
         :nth-child(1),:nth-child(2){
           font-size: 1.1rem;
         }
         
     }
     .add_to_cart_button{
         width:80%;
         height: 10%;
         font-size: 1rem;
         border-radius: 5px;
         margin-top:1rem;
         cursor: pointer;
         transition: all .7s ease .1s;
         background-color:$main-color ;
         border: none;
         &:hover{
             background-color:rgb(4, 167, 45) ;
             color:white

         }
     }
 }
}


